.App {
  text-align: center;
}

h1, h4{
  font-weight: 400;
}

.App-header {
  background-color: #ffa500;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin: auto; 
}
button {
  padding: 15px; /* Increased padding */
  font-size: 14px; /* Larger font size */
  font-weight: bold;
  background-color: lightgrey;
  border-radius: 5px;
}

input {
  padding: 15px; /* Increased padding */
  font-size: 14px; /* Larger font size */
  border-radius: 5px;
}

#footer {
  font-weight:500;
  font-size:13px; 
  position:absolute; 
  bottom:20px; 
  text-align:center; 
  width:100%; 
  left:0px;
}

a {
  color:white
}

.qrcode {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto; 
}

@media (min-width: 600px) {
  input, button, .qrcode {
    width: auto; /* Reset width for larger screens */
  }
}